.storyInfoContainer{
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
    gap: 10px;
}
.profileCropper img {
    border-radius: 50%;
}
.profileCropper{
    margin-left: 5%;
}
.infoText p{
    font-size: 14px;
}
.infoText{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 3px;
}
.iconContainer{
    padding-right: 5%;
    padding-top: 5%;
}
.storyTitle{
    padding-bottom: 5%;
}
.storyImageGallery{
    width: 100%;
}