.site-header {
    /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; */
    display: flex;
    justify-content: flex-start;
    gap: 30%;
    margin-left: 5%;
  }

.back-button {
    border: none;
    background-color: transparent;
    align-items: flex-start;
  }
  
  .site-title {
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.4px;
  }