.story-detail-page-container {
  padding: 0;
}

.story-detail-page-container header img {
  left: 5%;
}

.share-icon {
  margin: 16px 5% 0% 5%;
  float: right;
}

.img {
  width: 100%;
  height: 100vh;
  margin: auto;
  
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 12px 20px;
  margin-bottom: 40px;
  gap: 16px;
}
 
.ant-carousel {
  width: 100%;
}

.carousel{
  padding-top:2%;
}

.story-image-gallery {
  width: 70%;
  margin-left:auto;
  margin-right:auto;
  
}

.storyinfo .story-text{
  width: 60%;
}

.story-info-resize{
  width: 60%;
}

.rejection-comment-container{
  width: 600px;
  height: 163px;
  position: relative
}

.rejection-comment-container-outer-border{
  width: 600px;
  height: 163px;
  position: absolute;
  background: white;
  border-radius: 10px;
  border: 1px black solid;
  /* left: 0, top: 0, */
}

.rejection-comment-container-top-divider{
  width: 100%;
  height: 30%;
  position: absolute;
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px black solid;
}

.rejection-comment-title-text {
  width: 95%;
  left: 2.5%;
  top: 8%;
  position: relative;
  color: black;
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 400;
  word-wrap: break-word;

}

.rejection-comment-content-text {
  width: 95%;
  left: 2.5%;
  top: 62px;
  position: absolute;
  color: #707070;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word;
  padding-bottom: 5%;
}

/* <div className={styles["rejection-comment-container"]} >

className={styles["rejection-comment-content-text"]} 

 <div style={{width: 600, height: 49, left: 0, top: 0, position: 'absolute', background: 'white', borderTopLeftRadius: 10, borderTopRightRadius: 10, border: '1px black solid'}} />
<div style={{width: 570, left: 15, top: 13, position: 'absolute', color: 'black', fontSize: 16, fontFamily: 'Open Sans', fontWeight: '400', wordWrap: 'break-word'}}>Admin Comment on 14:23pm, 3/23/2023</div>
<div style={{width: 570, left: 15, top: 62, position: 'absolute', color: '#707070', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '400', wordWrap: 'break-word'}}>attis molestie a iaculis at erat pellentesque adipiscing. Non odio euismod lacinia at quis risus sed. Ultrices vitae auctor eu augue ut lectus arcu. Viverra suspendisse potenti nullam ac tortor.  odio euismod lacinia at quis risus sed. Ultrices vita  odio euismod lacinia at quis risus sed. Ultrices vita</div>
</div> */