.story-detail-page-container {
  padding: 0;
}

.story-detail-page-container header img {
  left: 5%;
}

.share-icon {
  margin: 16px 5% 0% 5%;
  float: right;
}

.img {
  width: 100%;
  height: 100vh;
  margin: auto;
  
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 12px 20px;
  margin-bottom: 40px;
  gap: 16px;
}
 
.ant-carousel {
  width: 100%;
}

.carousel{
  padding-top:2%;
}

.story-image-gallery {
  width: 70%;
  margin-left:auto;
  margin-right:auto;
  
}

.storyinfo .story-text{
  width: 60%;
}

.story-info-resize{
  width: 60%;
}
