section {
  margin: 12px 20px;
}

section h2 {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 12px 20px;
  gap: 16px;
}
