.storyText{
    padding: 5% 5%;
    overflow: visible;
}

.storyPageContainer{
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* padding: 5% 8%; */
}

.img {
  width: 100%;
  height: 100vh;
  margin: auto;
}

.carousel{
    z-index: -1;
}
