.shareIcon{
    margin: 5% 5% 0% 5%;
    float: right;
}

.storyPageContainer{
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* padding: 5% 8%; */
}

.img {
  width: 100%;
  height: 100vh;
  margin: auto;
}

.carousel{
    z-index: -1;
}
.ant-carousel{
    width: 100%;
}
