.customized-card {
  display: flex;
  position: relative;
  border-radius: 10px;
  margin-bottom: 5%;
  margin-top: 5%;
  height: 140px;
  min-width: 0;
  padding: 16px;
  padding-top: 12px;
}

.customized-card-image {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 16px;
  margin-top: 4px;
}

.customized-card-image img,
.customized-card-image video {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
  border-radius: 10px;
  object-fit: cover;
}

.customized-card.user-story,
.customized-card.user {
  background: var(--secondary-color-sky-blue-translucent);
}

.customized-card.partner-story,
.customized-card.partner {
  background: var(--secondary-color-dark-green-translucent);
}

.customized-card.user-profile {
  background: rgba(246, 223, 164, 0.36);
}

.customized-card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  padding-right: 16px;
  padding-bottom: 6px;
}

.customized-card-content h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
  white-space: normal;
}

.customized-card-content p {
  padding: 4px 0;
  font-size: 12px;
  flex: 1;
  max-height: 50px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 100%;
  white-space: normal;
  line-height: normal;
}

.customized-card-footer > div {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #55565a;
}

.customized-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 4px;
  right: 16px;
  gap: 8px;
}

.customized-card-footer > div,
.card-footer button {
  flex-shrink: 0;
}

.customized-card-footer button {
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.story-status {
  display: flex;
  font-size: 12px;
  background-color: white;
  padding: 2px 8px;
  border-radius: 10px;
  height: fit-content;
  font-weight: 500;
}
.story-status.approved {
  background-color: var(--secondary-color-light-green);
  color: rgb(20, 59, 20);
}
.story-status.rejected {
  background-color: var(--secondary-color-red-accent);
  color: rgb(123, 14, 14);
}
.story-status.pending {
  background-color: gray;
}
