.customized-card {
  display: flex;
  border-radius: 10px;
  margin-bottom: 5%;
  margin-top: 5%;
  height: 140px;
  /* overflow: hidden; */
  min-width: 0;
}

.customized-card-image {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customized-card-image img {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
  border-radius: 10px;
  margin: 14px 16px;
  object-fit: cover;
}

.customized-card.user-story {
  background: var(--secondary-color-sky-blue-translucent);
}

.customized-card.lab-story {
  background: var(--secondary-color-dark-green-translucent);
}

.customized-card.user-profile {
  background: rgba(246, 223, 164, 0.36);
}

.customized-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 4px;
  padding-top: 14px;
  padding-bottom: 5px;
  flex-grow: 1;
}

.text-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  padding-bottom: 4px;  
}

.text-content h2 {
  padding-right: 18px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin: 0;
  /* flex-grow: 1; */
  /* max-height: -webkit-fill-available; */
  margin-bottom: 0%;
  line-height: normal;
}

.text-content p {
  padding-right: 18px;
  padding-top: 4px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  margin: 0;
  height:auto;
  overflow: hidden;
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
  line-height: normal;
}

.customized-card-footer > div {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #55565a;
}

.customized-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.customized-card-footer > div,
.card-footer button {
  flex-shrink: 0;
}

.customized-card-footer button {
  margin-right: 20px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}
