.map-page-container {
  width: 100%;
  height: calc(100vh - 60px);
}

.map-page-container :global(*) {
  overflow: visible;
}

.locate-user-button{
  position: fixed;
  bottom: 100px;
  right: 100px;
}