.map-page-container {
  width: 100%;
  height: calc(100vh - 60px);
}

.map-page-container :global(*) {
  overflow: visible;
}

.locate-user-button{
  position: fixed;
  bottom: 60px;
  right: 60px;
}

.primary-modal-button {
  background-color: #F6DFA4;
  font-family: var(--font-family-heading);
}

/* .primary-modal-button :global(.ant-btn-link) {
  background-color: #F6DFA4;
  font-family: var(--font-family-heading);
} */

