.story-detail-page-container {
  padding: 0;
}

.story-detail-page-container header img {
  left: 5%;
}

.share-icon {
  margin: 16px 5% 0% 5%;
  float: right;
}

.carousel img {
  height: 25vh;
  object-fit: contain;
}

.story-image-gallery {
  width: 100%;
}
