.story-detail-page-container {
  padding: 0;
}

.story-detail-page-container header img {
  left: 5%;
}

.story-icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 16px 16px 0;
  gap: 16px;
}

.share-icon {
  float: right;
}

.admin-comments-icon {
  float: right;
  margin-right: 4%;
}

.carousel img,
.carousel video {
  height: 25vh;
  object-fit: contain;
  display: flex;
  margin: auto;
}

.carousel audio {
  height: 25vh;
  object-fit: contain;
  display: flex;
  margin: auto;
}

.story-image-gallery {
  width: 100%;
}
