.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: var(--primary-color-light-blue);
  padding: 0 18px;
  position: fixed;
  overflow: visible;
  z-index: 100;
}

.icons-container {
  display: flex;
  align-items: center;
  gap: 18px;
}

.icons-container a img {
  height: 28px;
}

img {
  cursor: pointer;
}
