.category-header-container{
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    padding: 3% 4.5%;
    /* margin-bottom: 10px; */
    background-color: var(--secondary-color-sky-blue-dark);
}

.title{
    font-size: var(--font-size-h1);
    color: white;
}